# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*

# React Native
.expo/
.expo-shared/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
android/app/build/

# iOS
pods/
Pods/
*.dSYM.zip
*.dSYM
ios/build/
ios/.xcode.env.local

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# macOS
.DS_Store
*.pem

# Logs
logs
*.log

# Archivos temporales
*.swp
*.swo
.tmp
.temp

# Archivos de compilación
build/
out/
dist/